/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2021, 8:40:57 PM
    Author     : admin
*/

/* Style the tab */
.tab {
    overflow: hidden;
    border-style: none none ridge none;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: 0px 0.5vw;
    transition: 0.3s;
    font-size: 17px;
    width: 9vw;
    font-weight: bold;
    color: #d3d3d3;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    border-style: none none solid none;
    border-color: #63b8ff;
    color: #63b8ff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 50vh;
}