/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2021, 11:56:27 PM
    Author     : ADMN
*/
/* Style the tab */
.tab {
    overflow: hidden;
    padding: auto;
    width: 33vw;
    border-style: none none none none;
}
.tab {
    border:none;
}
